.navbar {
  transition: all 0.5s;
  font-size: 20px !important;
  font-weight: 500 !important;
}

.navbar a {
  color: black !important;
}

.navbar-scrolled {
  background-color: #cdeeff;
}

.navbar-scrolled a {
  color: black !important;
}

.navbar .dropdown-item {
  color: black !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}

.navbar-mini {
  background-color: #cdeeff;
}

.navbar-mini a {
  color: black !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.imgLogoNav {
  height: 50px;
  margin-right: 10px;
}

.imgFooterNav {
  height: 200px;
  width: 200px;
  margin-top: 20px;
  border-radius: 10px;
}

footer {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: small;
}

.iklan {
  padding-top: 75px;
}

.profil {
  padding-top: 75px;
}

.iklan img {
  width: auto;
}

.line {
  border-left: 3px solid black;
  height: 300px;
}

.homeProfil img {
  width: 350px;
}

.storeIcon {
  font-size: 300px !important;
}

.storeIcon:hover {
  transform: scale(1.1);
}

.emailIcon {
  font-size: 100px !important;
}

.emailIcon :hover {
  font-size: 150px !important;
}

.colorCardHome img {
  width: 180px;
  padding-bottom: 10px;
}

.colorCardHome :hover {
  transform: scale(1.1);
}

.colorCardHomeBorder {
  border: 3px ridge black;
  margin-bottom: 20px;
}

@media screen and (max-width: 635px) {
  .homeProfil img {
    width: 200px;
  }

  .colorCardHome img {
    height: 100px;
    width: 175px;
    padding-bottom: 5px;
  }

  .colorCardHome :hover {
    transform: scale(1.1);
  }

  .produkHome button {
    width: 200px;
    border: 2px solid black;
  }

  .produkHome img {
    width: 200px;
    border: 2px solid black;
  }

  .produkHome img:hover {
    transform: scale(1.1);
  }
}

.produkHome button {
  width: 500px;
  border: none;
  background-color: transparent;
}

.produkHome img {
  border: 2px solid black;
}

.produkHome :hover {
  transform: scale(1.01);
}

.factoryImg {
  padding: 0px;
  margin-top: 0;
}

.visiMisi .col-5 {
  min-width: 200px;
}

.visiMisi h6,
li {
  font-weight: bold;
}

.lineTitle {
  border: 5px solid black;
}

.value img {
  width: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.sejarah img {
  max-height: 400px;
}

.sejarah p,
h5 {
  color: black;
  font-weight: 500;
  font-size: medium;
}

.sejarah .carousel-caption {
  background-color: white;
}

.carousel-control-prev-icon {
  color: black !important;
}

.guideline .wrapper {
  padding: 50px;
}

.guideline .wrapper img {
  max-width: 800px;
}

.housePaint img {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.housePaint .card {
  padding: 20px 20px 20px 20px;
  margin: 5px 5px 5px 5px;
  width: 300px;
  margin-top: 20px;
  border: 2px solid black;
  background-color: white;
}

.housePaint .card-body {
  padding: 5px 5px 5px 5px;
}

.housePaint .card-body h5 {
  align-items: end;
}

.detail img {
  width: 250px;
}

.btnPointer {
  border-radius: 25%;
  border: 1px solid black;
}

.colorCard button {
  border: 0px;
  background-color: transparent;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.colorCard button img {
  display: block;
  padding-left: auto;
  padding-right: auto;
  width: 250px;
}

@media screen and (max-width: 635px) {
  .colorCard button {
    width: 180px;
  }

  .colorCard button img {
    width: 180px;
  }
}

.colorCard {
  border: 0px;
  background-color: transparent;
}

.colorCard button:hover {
  transform: scale(1.1);
}

.colorShade {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  justify-content: center;
  display: flex;
}

.shadeBtn {
  width: 30px;
  height: 80px;
  display: flex;
  justify-content: center;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.priceChecker {
  max-width: 700px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgb(235, 224, 247);
}

#the-count {
  float: right;
  padding: 0.1rem 0 0 0;
  font-size: 0.875rem;
}

.red {
  color: red;
}

.gradientFont {
  background: linear-gradient(to right, rgba(255, 0, 0, 0.8), rgba(255, 94, 0, 0.8), rgba(255, 230, 5, 0.8), rgba(111, 255, 1, 0.8), rgba(0, 179, 255, 0.8), rgba(38, 0, 255, 0.8), rgba(255, 0, 242, 0.8));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.gradientBg {
  background-image: linear-gradient(to right, rgba(242, 159, 159, 0.8), rgba(242, 189, 159, 0.8), rgba(242, 234, 159, 0.8), rgba(195, 242, 159, 0.8), rgba(159, 217, 242, 0.8), rgba(171, 159, 242, 0.8), rgba(242, 159, 238, 0.8));
}
